.Picture_box {
    padding: 23px;
    .ant-upload-list-picture-card-container, .ant-upload-list-picture-card .ant-upload-list-item {
        width: 250px;
        height: 150px;
    }
    .ant-upload.ant-upload-select-picture-card {
        width: 250px;
        height: 150px;
    }
}