.relation_graph {
    position: relative;
    .scare_action {
      position: absolute;
      top: 0;
      span {
          color: #fff;
          display: inline-block;
          padding: 10px;
          font-size: 18px;
          border-radius: 50%;
          border: 1px solid #eee;
      }
    }
    .contextMenu {
        background-color: #fff;
        border-radius: 5px;
        p {
            font-size: 15px;
            text-align: center;
            margin: 0;
            padding: 6px 10px;
            cursor: pointer;
           &:hover {
               background-color: #007fff;
               color: #fff;
           }
        }
        &::before {
            content:'';
            display: inline-block;
            position: absolute;
            left: 8px;
            top: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid #fff;
        }
    }
}