.DemoVideo {
    padding: 23px;
    .action_header {
        display: flex;
        justify-content: space-between;
    }
    .result_body {
        margin-top: 24px;
    }
}
.AddIframe {
    padding: 23px;
    .back_area {
        display: flex;
        align-items: center;
        h2 {
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 0 8px;
        }
    }
    .editor_area {
        margin-top: 24px;
        .title_h2 {
            font-size: 18px;
            padding-right: 54px;
            width: 150px;
            text-align: right;
            font-weight: bold;
        }
        .full {
            .ant-input {
                width: 600px;
            }
        }
    }
}