.search-box{
    margin-top: 30px;

    .ant-select-selection--single {
        border: 1px solid $borderColor !important;
    }
    .ant-input-group .ant-input {
        background-color: rgba(0,0,0,0);
        border: 1px solid $borderColor;
        color: #fff;
    }
    .ant-btn-primary{
        background: $mainColor;
        color: #fff;
        border: 1px solid  $mainColor;
        border-radius: 0;
        &:hover {
            background-color: rgba(0,0,0,0) !important;
        }
    }
    .ant-input-group-addon:hover {
        background-color:  $mainColor;
    }
}
.ant-select-dropdown {
    color: #fff !important;
    background-color: $dialogBgColor !important;
}
.ant-select-dropdown-menu-item-selected {
    background: $dialogBgColor !important;
    color: #fff !important;
}
.ant-select-dropdown-menu-item {
    color: #fff !important;
}
.ant-select-dropdown-menu-item-active {
    background-color: $dialogBgColor !important;
}